@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

     
body {
    margin: 0;
    padding: 0;
    background-color: #f9f4ef;
    width: 100%;
  }
  /* <!-- Header Content 0 -->  */
  .page-heading {
    text-align: center;
    background-color: #8c7851;
    color: black;
    padding: 16px;
    width: 98%;
    font-weight: 900;
    font-size: larger;
    margin-bottom: 10px;
  }
  
    h1 {
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  .cards-container-section {
    margin: 0;
    width: 100%;
    padding: 50px 0px;
  }
  .cardcont{
    background-color: #8c7851;
    height: auto;
    width: 1200px;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card1{
   background-color: #fffffe;
   height: auto;
   width: 250px;
   padding: 20px;
  margin: 25px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  