@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color:  #f9f4ef;
}

a {
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

header p {
    text-align: center;
    font-size: 17px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    bottom: 30px;
}

.all-mattress {
    margin: 0;
    width: 100%;
    border-top: 1px solid black;
}

.all-mattress h3 {
    font-size: 33px;
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}

.all-mattress-container {
    display: block;
    margin: auto;
    background-color: #fffffe;
    width: 1000px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    box-shadow: 0 4px 10px #8c7851;
}

.all-mattress-card {
    background-color: #eaddcf;
    height: 300px;
    width: 270px;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 0 4px 10px #8c7851;
    transition: box-shadow 0.3s ease;
}

.all-mattress-card:hover {
    box-shadow: 10px 6px 10px#8c7851;
}

.all-mattress-card img {
    height: 185px;
    width: 190px;
    border: 2px solid black;
    display: block;
    margin: auto;
    box-shadow: 0 4px 10px #8c7851;
}

.all-mattress-card img:hover {
    box-shadow: 10px 6px 10px#8c7851;
}

.all-mattress-card p {
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.btn {
    height: 35px;
    width: 150px;
    display: block;
    margin: auto;
    text-transform: capitalize;
    background-color: #8c7851;
    color: #fffffe;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease,
        box-shadow 0.3s ease;
}

.paragraph {
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    background-color: #705a39;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:active {
    font-size: 13px;
    transform: translateY(2px) scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}